* {
	font-family: "Product Sans", sans-serif;
}

body {
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
}

.screen {
	padding: 12px;
	text-align: right;
	font-size: 24px;
}

.calculator {
	width: max-content;
	display: flex;
	flex-direction: column;
	border: black 4px solid;
	border-radius: 16px;
	background: lightgray;
	overflow: hidden;
	gap: 24px;
}

.keypad {
	border-spacing: 0;
}

.key {
	height: 80px;
	width: 80px;
	background: skyblue;
	text-align: center;
}

.key#equals {
	background: seagreen;
}

.key.operator {
	background: mediumseagreen;
}

.key.special {
	background: cornflowerblue;
}

.pressed-key {
	border-radius: 50%;
}